In [1]:
import pandas as pd
import streamlit as st
import numpy as np

In [2]:
df = pd.read_csv('supermarket.csv')

In [3]:
df.head()

   store_id  store_area  items_available  daily_customer_count  store_sales
0         1        1659             1961                   530        66490
1         2        1461             1752                   210        39820
2         3        1340             1609                   720        54010
3         4        1451             1748                   620        53730
4         5        1770             2111                   450        46620

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store_id              896 non-null    int64
 1   store_area            896 non-null    int64
 2   items_available       896 non-null    int64
 3   daily_customer_count  896 non-null    int64
 4   store_sales           896 non-null    int64
dtypes: int64(5)
memory usage: 35.1 KB

In [5]:
df.describe()

,store_id,store_area,items_available,daily_customer_count,store_sales
count,896.000000,896.000000,896.000000,896.000000,896.000000
mean,448.500000,1485.409598,1782.035714,786.350446,59351.305804
std,258.797218,250.237011,299.872053,265.389281,17190.741895
min,1.000000,775.000000,932.000000,10.000000,14920.000000
25%,224.750000,1316.750000,1575.500000,600.000000,46530.000000
50%,448.500000,1477.000000,1773.500000,780.000000,58605.000000
75%,672.250000,1653.500000,1982.750000,970.000000,71872.500000
max,896.000000,2229.000000,2667.000000,1560.000000,116320.000000

In [ ]:
st.title('Supermarket Data')

In [ ]:
@st.cache
def load_data(nrows):
    data = pd.read_csv('supermarket.csv', nrows=nrows)
    return data

In [ ]:
data=data

In [ ]:
if st.checkbox('Show Raw Data'):
    st.subheader('Raw Data')
    st.write(data)

In [6]:
st.subheader('Distribution of Store Sales and Daily Customers')
ax = plt.scatter(data=data, x='store_sales', y='daily_customer_count')
st.pyplot(ax)

NameError: name 'plt' is not defined

In [ ]:
st.subheader('Average Sales For All Stores')
st.header('$59,351')